.ant-layout {
  background-color: #fff;
}
.ant-layout-sider {
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}
.ant-menu {
  color: #fff;
}
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: bottom;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: #00000014;
}

.ant-menu-horizontal > .ant-menu-item > a {
  color: #ffffff;
}
